<h2><%=foundPost.post%></h2>

<h4>Share Post with ...</h4>

<form action="/<%=currentUser._id%>/post/<%=foundPost._id%>/share" method="POST">

  <h5>Friends</h5>
  <%foundUser.friends.forEach(function(Friend){%>
    <div>
      <input type="checkbox" name="Friend-<%=Friend._id%>" value="<%=Friend.username%>"> <span><%=Friend.username%></span>
    </div>
  <%})%>

  <h5>Groups</h5>
  <%foundUser.groups.forEach(function(Group){%>
    <div>
      <input type="checkbox" name="Group-<%=Group._id%>" value="<%=Group.name%>"> <span><%=Group.name%></span>
    </div>
  <%})%>

  <button>Share</button>

</form>
